/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jun, 2023, 10:25:29 PM
    Author     : AnkushCp
*/
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #488949; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #82bc74; 
  }
.pay_form{
    display: flex;
    margin: auto;
    justify-content: center;
}
.pay_form .razorpay-payment-button{
    border: none;
    margin-top: 250px;
    width: 185px;
    height: 46px;
    font-size: 16px;
    padding: 6px;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    background-color: rgb(73 194 49);
}
.pay_form .razorpay-payment-button:hover{

    background-color:rgb(66 128 53);
}
