  @import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@300&family=Roboto:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');
      
.calendar {
    font-family: Arial, sans-serif;
    /* border: 1px solid #ccc; */
    margin-bottom: 28px;
    width: 300px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
    padding: 10px;
font-family: kadwa;
}

.calendar-weekdays {
    color:white;
    display: flex;
    justify-content: space-between;
    background: green;
}

.calendar-weekdays div {
    padding: 5px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    padding: 5px;
}

.calendar-days div {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10x;
    text-align: center;
}

button {
    cursor: pointer;
}
.selected {
    background-color: green;
    color: white;
}
@media (max-width: 480px){
    .cen_contain {
        width: 92%;
    }
    .main_contain {
        margin-top: 38px;
        /* border: 2px solid black; */
        width: 100%;
        /* height: 600px; */
        /* display: flex; */
        flex-wrap: wrap;
    }
    .main_contain .first_div .tim .tim_contain {
        text-align: left;
        width: 100%;
    }
    .main_contain .first_div {
        /* border: 2px solid black; */
        width: 79%;
        height: 100%;
    }
    .main_contain .sec_div {
        /* padding-top: 79px; */
        width: 79%;
        height: 100%;
    }
    .calendar {
        margin-top: 34px;
    }}