.reciept_contain {
    /* display: flex;  */
    height: auto;
    text-align: -webkit-center;
    padding: 20px;
    background: white;
    background-size: 400% 100%;
    box-sizing: border-box;
    /* justify-content: center; */
    border-radius: 0 0 10px 10px;
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  

.reciept {
    background: #4e944f;
    border-radius: 15px;
    padding: 40px;
    /* text-align: inherit; */
    max-width: 600px;
    width: auto;
    transition: all 0.2s;
}

.thead{
    text-align: center;

    height: 39px;
    border: 0 0 1 4px;
    border-right: 2px solid #155799;
    border-left: 2px solid #155799;
    margin-bottom: 3px;
}
.thead img {
    width: 214px;
    margin: 5px 0px 0px 0px;

}


#marq {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFF;
    background: #155799;
    padding: 10px;
    margin: 0px 0px 3px;
    border-radius: 10px 10px 0px 0px;
}


.fline {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    /* border-bottom: 1px solid; */
    animation: fadeIn 1s ease-in;
}

.fline h1 {
    font-family: math;
    color: #1b1c16;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;;
}

p {
    font-family: monospace;
    font-size: 18px;
    color: #e9efc0;
    font-weight: bold;
    margin: 0;
}

/* Button */
.butt button {
    background: #33FF89;
    color: #155799;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background 0.3s;
}

.butt button:hover {
    background: #2CD278;
    color: #fff;
}

/* Book Icon */
.bookc {
    text-align: center;
    margin-top: 40px;
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Footer */
h4 {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-family: cursive;
    font-weight: bold;
    margin-top: 40px;
}

/* -------------------Media Query for Turf booking -------------------------------- */
@media (max-width: 480px){
    .reciept_contain {
        height: auto; /* Adjust height as needed for smaller screens */
    }

    .reciept {
        width: auto;
        border-radius: 0;
    }
    .fline h1 {
        font-family: math;
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin: 0;
        margin-right: 10px;
    }
}
/* .loading{
    position: relative;
    top: 189px;
    border-bottom: 5px solid;
    width: 100%;
}
.loading img{
    max-width: 9%;
    margin-bottom: -11px;
    animation-name: skate;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    transition: all 0.5s ease-in-out;
}
@keyframes skate {
    0%{
        translate: 0px;
    }
    100%{
        translate: 1331px;
    }
} */